<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CarouselView.FormsPlugin" version="5.0.2" targetFramework="xamarinios10" />
  <package id="MvvmCross" version="5.6.3" targetFramework="xamarinios10" />
  <package id="MvvmCross.Binding" version="5.6.3" targetFramework="xamarinios10" />
  <package id="MvvmCross.Core" version="5.6.3" targetFramework="xamarinios10" />
  <package id="MvvmCross.Forms" version="5.6.3" targetFramework="xamarinios10" />
  <package id="MvvmCross.Platform" version="5.6.3" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="6.0.2" targetFramework="xamarinios10" />
  <package id="Xam.Plugins.Forms.ImageCircle" version="2.0.0.36-beta" targetFramework="xamarinios10" />
  <package id="Xam.Plugins.Settings" version="3.1.1" targetFramework="xamarinios10" />
  <package id="Xamarin.Facebook" version="4.4.0.2" targetFramework="xamarinios10" />
  <package id="Xamarin.Facebook.iOS" version="4.27.1" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="2.5.0.122203" targetFramework="xamarinios10" />
</packages>